<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="bg-gray-100">

<div class="container mx-auto my-8 p-8 bg-white shadow-md rounded-md max-w-md">
    <p class="text-xl font-bold mb-2" th:text="${product.name}"></p>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <p class="text-gray-600" th:text="'ID: ' + ${product.id}"></p>
            <p class="text-gray-600" th:text="'Marc: ' + ${product.mark}"></p>
        </div>
        <div>
            <p class="text-gray-600" th:text="'Quantity: ' + ${product.quantity}"></p>
            <p class="text-gray-600" th:text="'Price: ' + ${product.price}"></p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>